<div class="slide-item cover" style="--slide-height: 340px;">
	<a href="<%= item.url %>" class="image-container">
	<img src="<%= item.image.original %>"" alt="<%= item.image.file_name %>" width="100" height="100" />
	</a>
	<h4 class="slide-name">
		<a href="<%= item.url %>">
		<%= item.title %>
		</a>
	</h4>
</div>
