<div class="slide-item" style="--slide-height: 240px;">
	<a href="<%= item.url %>" class="image-container">
	<img src="<%= item.image.original %>"" alt="<%= item.image.file_name %>" />
	</a>
	<h4 class="slide-name">
		<a href="<%= item.url %>">
		<%= item.title %>
		</a>
	</h4>
</div>
