<div class="slide-item item-nnnn file-<%= item.image.base_name %>">
	<div class="slide-info on-bottom-left">

		<p><big class="slide-title text-black"><%= item.title %></big></p>
		<p class="slide-description"><%= item.description %></p>
		<a class="button" href="<%= item.url %>"><%= data.text.main_gallery.button %></a>

	</div>
	<img src="<%= item.image.original %>"" alt="<%= item.image.file_name %>" />
</div>
